
#gameStartButton {
    top: 5px;
    left: 80px;

    font-size: 24px; /* Larger font size */
    color: yellow;
    background-color: darkblue; /* Green background */
    border: none;
    font-weight: bold;
    cursor: pointer;
    border: 30px;
    border-radius: 8px;
    width: 200px; /* Specific width */
    height: 60px; /* Specific height */
}

#gameStartButton:hover {
    background-color: #45a049; /* Darker green on hover */
}
