.header {
    padding: 20px 20px 10px 30px; 
    color: white;
    text-align: left;
}

.header h1 {
    font-weight: bold;
    color: darkblue;
    font-size: 40px;
    margin-top: auto;
}

.line {
    border-top: 1px solid darkblue;
    margin-left: 20px;
    margin-right: 20px;
}

.buttons {
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
}

.button {
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid darkblue;
    color: darkblue;
    font-size: 18px;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(0, 0, 139, 0.1);
}

.sessions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 60px 30px 50px;  /* Move the entire session area upward */
    overflow-y: auto;
    height: 70vh;
    scrollbar-width: thin;
    scrollbar-color: #888888 transparent;
    
    padding-right: 30px;  /* Work in conjunction with the above margin-right */
    padding-bottom: 30px; /* Leave space at the bottom */
}

.sessions::-webkit-scrollbar {
    width: 6px;         
}

.sessions::-webkit-scrollbar-thumb {
    background-color: #9c9696;
    border-radius: 4px;
}

.session-box {
    width: 100%;
    background-color: #B0B0B0;  
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

.session-box:hover {
    background-color: #25ab9f;  /* SeaGreen on hover */
    color: white;
}

.session-arrow-indicator {
    align-self: flex-end;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding-right: 10px;
    font-weight: bold;  
}

.session-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.session-left-content, .session-right-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.session-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.session-caseworker, .session-date, .session-time, .session-location {
    color: white;
    font-size: 18px;
}

.session-day {
    font-style: italic;
    color: #e9ebed;  /* LightSteelBlue */
    font-size: 18px;
    padding-left: 40px;
    padding-top: 30px;
}
.session-day, .session-time, .session-date {
    font-weight: bold;   
}
.session-time, .session-date {
    font-size: 20px;  
}

.session-right-content {
    flex-direction: row;  
    gap: 10px;              
}

.session-right-content {
    gap: 10px;
    justify-content: flex-end;
}

.session-date {
    order: 1;  
}

.session-day {
    order: 2;   
    margin-left: -130px; 
}
.session-search-container {
    margin-left: 80%; 

    display: flex;
    align-items: center; 
    gap: 10px;
    width: 200
  }
  .delete-icon {
    position: absolute; 
    top: 10px;          
    right: 10px;     
    font-size: 18px;
    color: red;
    cursor: pointer;
    z-index: 1;       
}